.container{
    display: grid;
    height: 100vh;
    grid-template-columns:5px;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav nav nav"
    "sidebar leftsidebar main rightsidebar"
    "sidebar bt bt bt"
    "sidebar politics politics politics"
    "sidebar technology technology technology"
    "sidebar locals locals locals"
    "sidebar opinion opinion opinion"
    "sidebar sports sports sports"
    ;
    grid-gap: 5px;
    
}
nav{
    background-color: white;
    grid-area: nav;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
main{
    background-color: white;
    grid-area: main;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}
#leftsidebar{
    background-color: white;
    grid-area: leftsidebar;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}
#rightsidebar{
    background-color: white;
    grid-area: rightsidebar;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}
#bt{
    background-color: white;
    grid-area: page3;
    grid-area: bt;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}
#politics{
    background-color: yellow;
    grid-area: politics;
}
#technology{
    background-color: aqua;
    grid-area: technology;
}
#locals{
    background-color: blue;
    grid-area: locals;
}
#opinion{
    background-color: green;
    grid-area: opinion;
}
#sports{
    background-color: purple;
    grid-area: sports;
}
/* smaller device of 576px and up */
@media (max-width: 576px){}
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 2.3fr 1.5fr 1.2fr 1.2fr 0.8fr;
        grid-template-areas: 
              "nav"
              "leftsidebar"
              "rightsidebar"
              "main"
              "bt"
              "politics"
              "technology"
              "locals"
              "opinion"
              "sports"
        ;
    }  