.container{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav nav"
    "leftsidebar main rightsidebar"
    "bt politics politics"
    "bt technology technology"
    "bt locals locals "
    "bt opinion opinion"
    "bt sports sports"
    ;
    grid-gap: 5px;
    
}
nav{
    background-color: white;
    grid-area: nav;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
main{
    background-color: white;
    grid-area: main;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}
#leftsidebar{
    background-color: white;
    grid-area: leftsidebar;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}
#rightsidebar{
    background-color: white;
    grid-area: rightsidebar;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}
#bt{
    background-color: white;
    grid-area: page3;
    grid-area: bt;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}
#politics{
    background-color: yellow;
    grid-area: politics;
}
#technology{
    background-color: aqua;
    grid-area: technology;
}
#locals{
    background-color: blue;
    grid-area: locals;
}
#opinion{
    background-color: green;
    grid-area: opinion;
}
#sports{
    background-color: purple;
    grid-area: sports;
}
@media (max-width: 576px){}
   